#element::-webkit-scrollbar {
    display: none;
}

.dyna-height {
	height: 100vh;
}
.indiv-scroll {
	height: inherit;
	overflow-y: auto;
}

button, .button {
	width: 100%;
}

input, textarea, select, fieldset {
	width: 100%;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
	padding: 0 8px;
}

h1 {
	text-align: center;
	margin: 10px 0;
}
.spacer {
	height: 26px;
}

table {
	width: 100%;
}
tbody tr {
	cursor: pointer;
}
tbody tr:hover {
	background-color: rgba(51, 195, 240, 0.15);
}

label {
	text-align: right;
}

button.button-primary.red {
	background-color: #d0021b;
	border-color: #d0021b;
}
button.button-primary.green {
	background-color: #4caf50;
	border-color: #4caf50;
}

.filters .row {
	height: 53px;
}

.label, .ternary-checkbox {
	margin-top: 5px;
}

.capitalise {
	text-transform: capitalize;
}
.vertical-center {
	line-height: 38px;
}
.subheading {
    font-style: italic;
    color: #999;
    font-size: 1.6rem;
}

.ternary-checkbox {
	border: 1px solid black;
    display: inline-block;
    width: 15px;
	height: 1.5em;
	vertical-align: middle;
	text-align: center;
	font-family: monospace;
	cursor: pointer;
}

.minmax > span {
	display: inline-block;
	width: 10%;
	text-align: center;
	font-weight: bold;
}
.minmax input {
	width: 45%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* all the sticky right pane stuff */
.to-top {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 10px 20px;
	background-color: #666;
	color: #fff;
	cursor: pointer;
	border-radius: 5px;
}
.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: -1px;
}
